<h1> Welcome to Young Papas Hobbies! </h1>
<h2> Where young fathers can document their hobbies and projects.</h2>

<h2> View<%= link_to " Projects ", projects_path%>  created by young fathers like you. </h2>
<br><br>
<% if !logged_in?%>
<%=link_to "Click Here To Sign Up", signup_path%> <br>
<%=link_to "Click Here To Log In", login_path%>
<%end%>


