
    <h1> Welcome to Young Papas Hobbies! </h1>
    <h2> Where young fathers can document their hobbies and projects.</h2>

    <h2> View </h2>
    <h2> <%= link_to " Projects/Hobbies ", hobbies_path%>  </h2>
    <h3> created by fellow young fathers </h3>






