<%= link_to 'Back', user_projects_path(@project.user)%>

<h1><%= @project.title %> Project </h1>
 
 
<p><%= @project.description %></p>

<% if owner?%>
    <%= link_to 'Edit/Update Your Project', edit_project_path(@project)%><br>
<% end%>


