<table class="centered highlight">
        <thead>
          <tr>
              <th>Project</th>
              <th>Owner</th>
              <th>Hobby</th>
          </tr>
        </thead>
<% @hobbies.each do |hobby|%>
<%# link_to hobby.title, hobby, class: "black-text"%>





                        <% hobby.projects.each do |project| %>


        <tbody>
          <tr>
            <td><%= link_to project.title, project, class: "black-text"%></td>
            <td><%= link_to project.user.username, project.user, class: "black-text"%></td>
            <td><%= link_to project.hobby.title, project.hobby, class: "waves-effect waves-light btn blue-grey"%> </td>
          </tr>
          
        </tbody>

                               
                                    
                                <% end %>   
                             

                                
<%end%>

</table>
